<!DOCTYPE HTML>
<html><head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta content="pc,mobile" name="applicable-device">
	<meta content="no-transform" http-equiv="Cache-Control">
	<meta content="no-siteapp" http-equiv="Cache-Control">
	<meta content="width=device-width" name="viewport">
	<link href="__PUBLIC__/css/style.css" media="screen" type="text/css" rel="stylesheet">
	<script src="./js/jquery.min.js"></script>
	<title>人生哲理_人生哲理文章阅读_人生哲理语录句子大全_意空间阅读网</title><meta content="人生哲理_人生哲理文章阅读_人生哲理语录句子大全" name="keywords">
	<meta content="人生哲理栏目为广大网友奉献人生哲理名言，人生哲理故事，人生哲理文章，哲理名人名言名录大全。" name="description">
</head>
<body class="archive category category-philosophy-life category-18">
<include file="Public:head" />
<div class="wrapper">
	<div class="content">

		<!-- 分享代码 --><!-- 分享代码 -->

		<ul class="excerpt thumb">
			<volist name="articles" id="vo">
				<li>
					<a class="pic" href="__MODULE__/Article/Index/id/{$vo.id}"><img alt="{$vo.title}" src="__ROOT__{$vo.pic}"></a>			<h2 class="excerpt-tit">
					<a href="__MODULE__/Article/Index/id/{$vo.id}">{$vo.title}</a>
				</h2>
					<p class="excerpt-desc">
						<!--这里的简介是通过内容进行限定截取的 -->
						{$vo.desc|substr=0,300}...
					</p>

					<div class="excerpt-time">
						{$vo.time|date="Y-m-d h:i:s",###}	</div>
				</li>
			</volist>
		</ul>

		<!-- <div class="paging"><span class="current">1</span> <a title="第 2 页" href="/category/philosophy-life/page/2">2</a> <a title="第 3 页" href="/category/philosophy-life/page/3">3</a> <a title="第 4 页" href="/category/philosophy-life/page/4">4</a> <a title="第 5 页" href="/category/philosophy-life/page/5">5</a> <span class="dots"> ... </span><a title="»" href="/category/philosophy-life/page/57">57</a> <a href="/category/philosophy-life/page/2">&gt;</a></div> -->
		<div class="paging">{$page} </div>

	</div>
	<include file="Public:sidebar" />
</div>

<include file="Public:footer" />

</body></html>