<div class="sidebar">

    <div class="widget widget_categories"><h3 class="widget-tit">文章分类</h3>		<ul>
        <volist name="types" id="vo">
            <li class="cat-item cat-item-18 current-cat"><a  href="/category/philosophy-life">{$vo.typename}</a></li>
        </volist>

    </ul>
    </div>		<div class="widget widget_recent_entries">		<h3 class="widget-tit">最新发表</h3>		<ul>
    <volist name="res" id="vo">
        <li>
            <a href="/38069.html">{$vo.title}</a>
        </li>
    </volist>
</ul>
</div></div>