<!DOCTYPE HTML>
<html><head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="pc,mobile" name="applicable-device">
<meta content="no-transform" http-equiv="Cache-Control">
<meta content="no-siteapp" http-equiv="Cache-Control">
<meta content="width=device-width" name="viewport">
<link href="__PUBLIC__/css/style.css" media="screen" type="text/css" rel="stylesheet">
<script src="__PUBLIC__/js/jquery.min.js"></script>
<title>{$resart.title}</title><meta content="  " name="keywords">
<meta content=" ddd " name="description">
</head>
<body class="archive category category-philosophy-life category-18">
<include file="Public:head" />
<div class="wrapper">
	<div class="content">

<div class="meta">
	<h1 class="meta-tit">{$resart.title}</h1>
	<p class="meta-info">发表：<a href="/">{$resart.typename}</a> &nbsp;&nbsp; 发表日期：{$resart.time|date="Y-m-d",###}&nbsp;&nbsp; <span>评论关闭</span>&nbsp;&nbsp; </p>
</div>
<div class="entry">
	<p><img width="630" alt="{$resart.title}" src="__ROOT__{$resart.pic}" class="aligncenter size-full wp-image-38074"></p>
<p>
	{$resart.desc}
</p>
</div>
<!-- 广告代码 -->
<!-- 百度推荐 -->
</div>
	<include file="Public:sidebar" />
</div>

<include file="Public:footer" />







</body></html>